<!-- -->
<launch>
  <param name="/use_sim_time" value="true"/>

  <node name="stageros"
        pkg ="stage_ros"
        type="stageros"
        args="$(find upc_mrn)/worlds/scenario_slam.world"
        respawn="false" >
    <param name="base_watchdog_timeout" value="0.3"/>
    <remap from="/base_scan" to="/scan"/>
  </node>

  <param name="robot_description" command="cat $(find upc_mrn)/model/turtlebot.urdf" />
  <!--<param name="robot_description" command="$(find xacro)/xacro.py '$(find upc_mrn)/model/turtlebot.urdf.xacro'" />-->

  <node pkg ="robot_state_publisher"
        type="robot_state_publisher"
        name="robot_state_publisher"
        output="screen">
    <param name="publish_frequency" type="double" value="5.0" />
  </node>

  <include file="$(find upc_mrn)/launch/include/move_base_global.launch"/>

  <include file="$(find upc_mrn)/launch/include/gmapping.launch"/>

  <node name="rviz"
        pkg ="rviz"
        type="rviz"
        args="-d $(find upc_mrn)/config/rviz/navigation.rviz" />
</launch>
